---
interface Props {
    name: string;
    url: string;
    isBig?: boolean;
}

const { name, url, isBig = false } = Astro.props;

// Obtenemos el id del pokemon al final del URL
const id = url.split("/").at(-2);
const BASE_URL_IMAGE = `https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/dream-world/${id}.svg`;
---

<a
    href={`/pokemons/${name}`}
    class:list={{
        "flex flex-col h-full": true,
        "bg-slate-800 rounded p-4 text-center not-last:hover:bg-slate-700 transition-colors":
            !isBig,
    }}
>
    <img
        transition:name={`${name}-image`}
        src={BASE_URL_IMAGE}
        alt={`Imagen de ${name}`}
        class="w-1/2 mx-auto mb-4 block flex-grow object-contain"
    />

    <div
        class:list={[
            "gap-1.5 items-center justify-center mt-auto",
            isBig ? "hidden" : "flex",
        ]}
    >
        <span class="bg-amber-900 px-2 py-1 font-mono">{id}</span>
        <h2 class="text-center capitalize font-bold text-xl">{name}</h2>
    </div>
</a>
