---
// import { ViewTransitions } from "astro:transitions";
import "../styles/global.css";
import { siteMeta } from "src/global/site-info";

interface Props {
    title: string;
    description?: string;
    image?: string;
}

const {
    title = siteMeta.title,
    description = siteMeta.description,
    image,
} = Astro.props;
---

<html lang="es" transition:animate="fade">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />

        <meta name="description" content={description} />
        <meta name="author" content="STBN" />

        <!-- OG TAGS -->
        <meta property="og:title" content={title} />
        <meta property="og:description" content={description} />
        {image && <meta property="og:image" content={image} />}

        <style>
            @view-transition {
                navigation: auto; /* enabled! */
            }
        </style>

        <title>{title}</title>
        <!-- <ViewTransitions /> -->
    </head>

    <body
        class="container mx-auto px-4 text-white bg-gradient-to-r from-slate-900 via-black to-slate-950"
    >
        <main class="pt-4">
            <slot />
        </main>
    </body>
</html>
